// BACKGROUNDS
$background: #051725;
$background-list: #0a243b;

// COLORS TITLE AND ERRORS
$color-title: #4a5359;
$color-error: #f54040;

// PRIMARY AND SECONDARY COLOR
$primary-color: #276394;
$secondary-color: #418db8;

