.btn {
    background-color: #418cb8b9;
    border: none;
    border-radius: 2px;
    color: #ffff;
    cursor: pointer;
    font-weight: 600;
    padding: .55rem;

    &:hover {
        background-color: $primary-color;
        outline: 1px solid #ffffff7c;
    }

    &:disabled {
        background-color: #a3a3a3;
        cursor: not-allowed;
        outline: none;
    }
}