.content-container {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .01fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-content: center;

    & .title {
        color: $primary-color;
        text-align: center;
        margin-bottom: 3rem;
    }

    & .separator {
        width: 2px;
        background-color: $primary-color;
    }

    // FORM CREATE DATA
    & .container-form {
        display: flex;
        flex-direction: column;
        align-items: center;


        & .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.25rem;

            & .field {
                display: grid;
                grid-template-columns: 1fr 2fr;
                place-content: center;
                align-items: baseline;
                justify-items: stretch;
                gap: 1.25rem;

                & label {
                    color: $primary-color;
                    font-weight: 600;
                }

                & .input {
                    padding: .35rem;
                    outline: none;
                }
            }

            & button {
                width: max-content;
                align-self: self-end;
                cursor: pointer;
            }
        }
    }

    // LIST DATA

    & .container-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .list-person {
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: stretch;
            gap: .25rem;

            & .content-person {
                background-color: $background-list;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: .35rem;
                padding: .35rem;

                & .item-person {
                    font-weight: 600;
                    color: $secondary-color;

                    & span {
                        margin-left: .25rem;
                        color: $primary-color;
                    }
                }
            }
        }
    }

}