.content-container {
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr .01fr 1fr;
    min-height: 80vh;
    place-content: center;
    width: 100%;

    @media screen and (max-width: 768px) {
        gap: 1.25rem;
        grid-template-columns: 1fr;
        place-items: center;
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }

    & .title {
        color: $primary-color;
        text-align: center;
    }

    & .separator {
        background-color: $primary-color;
        width: 2px;

        @media screen and (max-width: 768px) {
            height: 2px;
            width: 80%;
        }
    }

    // FORM CREATE DATA
    & .container-form {
        align-items: center;
        display: flex;
        flex-direction: column;

        // STYLE FORM
        & .form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            justify-content: center;

            // STYLE ALERT BY FORM
            & .alert {
                align-items: center;
                background-color: $color-error;
                color: #ffff;
                display: flex;
                gap: .45rem;
                padding: .35rem;
            }

            // STYLE FIELD - (LABEL + INPUT)
            & .field {
                display: grid;
                grid-template-columns: 1fr 2fr;
                place-content: center;
                align-items: baseline;
                justify-items: stretch;
                gap: 1.25rem;

                // STYLE LABEL
                & label {
                    color: $primary-color;
                    font-weight: 600;
                }

                // STYLE INPUTS
                & .input {
                    padding: .35rem;
                    outline: none;

                    &.error {
                        outline: 1px solid $color-error;
                        color: $color-error;
                    }
                }
            }

            // BUTTON STYLE ONLY FOR .container-form
            & button {
                width: max-content;
                align-self: self-end;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                @media screen and (min-width: 769px) and (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }

    // LIST DATA
    & .container-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        @media screen and (max-width: 768px) {
            width: 80%
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            width: 100%;
        }


        & .btn-container {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: auto;
        }

        & .list-person {
            display: flex;
            flex-direction: column;
            width: 70%;
            max-height: 60vh;
            overflow-y: auto;
            align-items: stretch;
            gap: .25rem;

            @media screen and (max-width: 768px) {
                width: 100%
            }

            // STYLE CUSTOM SCROLLBAR
            &::-webkit-scrollbar {
                width: 12px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary-color;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-track {
                background: $secondary-color;
            }

            // STYLE CONTENT LIST PERSON
            & .content-person {
                background-color: $background-list;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: .35rem;
                padding: .35rem;

                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                }

                @media screen and (min-width: 769px) and (max-width: 1024px) {
                    display: flex;
                    flex-direction: column;
                }

                & .item-person {
                    font-weight: 600;
                    color: $secondary-color;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    & span {
                        margin-left: .25rem;
                        color: $primary-color;
                    }
                }
            }
        }
    }

}